body {
  font-family: Arial, sans-serif;
}
.menu,
.s-icon,
.vs-icon {
  width: 24px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  margin-right: 12px;
  color: #000;
  font-size: 13px;
}
.nav-links button {
  width: 96px;
  height: 36px;
  background-color: #1a73e8;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

/* SECTION */
.section {
  display: flex;
  flex-direction: column;
}
.logo {
  width: 272px;
  margin: 0 auto;
}
.s-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.input {
  width: 40%;
  min-width: 430px;
  position: relative;
}
input {
  width: 85%;
  padding: 12px 35px 12px 40px;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
}

.s-icon {
  position: absolute;
  left: 3%;
  top: 22%;
  opacity: 0.4;
}
.vs-icon {
  position: absolute;
  right: 3%;
  top: 22%;
}
.buttons {
  margin-top: 20px;
}
.buttons > button {
  padding: 8px 10px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.buttons > button:hover {
  border-color: #c7c7c7;
}
small {
  text-align: center;
  margin-top: 20px;
}

/* FOOTER */
.footer {
  display: flex;
  background-color: #f2f2f2;
  color: #616161;
  flex-direction: column;
  padding: 0 20px;
}
.footer a {
  color: #616161;
  font-size: 14px;
  line-height: 40px;
}

.links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) and (min-width: 511px) {
  .links {
    justify-content: space-around;
  }
}
@media (max-width: 510px) {
  .links {
    flex-direction: column;
    align-items: center;
  }
}
